* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box; /* set boxes to be the exact size I define */
  font-size: 22px;
}

body {
  color: white;
  background-color: black;
}

li {
  list-style: none;
}

.order-logo,
.tormenta-logo {
  border: 3px solid white;
  height: auto;
  width: 300px;
}
