*,
*::after,
*::before {
  box-sizing: border-box; /* set boxes to be the exact size I define */
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
}

body {
  background-color: black;
  text-align: center;
}

a {
  color: white;
}

ul {
  display: inline-block;
  text-align: left;
}

li {
  list-style: inside;
  padding: 0;
  margin-left: 2rem;
  color: white;
  font-weight: bold;
}

.index {
  margin: 1rem;
  padding: 2rem;
  border: 5px solid darkgoldenrod;
}
