*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  border: 2px solid red;
}

.other-info div,
.character-status div {
  display: inline-block;
}

input {
  border: 1px solid #ccc;
  border-radius: 4px;
}

fieldset {
   border: none;
}

.character-status input {
  width: 4rem;
  padding: 6px;
}

.character-status label {
  font-weight: bold;
  padding: 3px;
  margin-bottom: -2rem;
}

.character-status p {
   margin-bottom: 0.3rem;
   margin-top: 0;
}

label[for="char-dexterity"] {
   margin-left: 1.5rem;
   margin-right: 1.5rem;
}

label[for="char-inteligence"] {
   margin-left: 1.5rem;
   margin-right: 1.8rem;
}

label[for="char-charism"] {
   margin-left: 1.7rem;
}
.status input {
  width: 25%;
}

.status p {
  margin-bottom: -1px;
}

.status.weapon label,
.status.defense label {
  display: inline-block;
  margin-bottom: 1px;
  font-weight: bold;
  padding: 3px;
}

.status.weapon input,
.status.defense input {
  width: 4rem;
  padding: 6px;
}

.status.weapon label[for="weapon"] {
  margin-right: 21rem;
}
.status.weapon label[for="critical"] {
  margin-left: 1.4rem;
  margin-right: 0.5rem;
}
.status.weapon label[for="range"] {
  margin-left: 1.7rem;
}
.status.weapon input[name="weapon"] {
  width: 24rem;
}

.status.defense label[for="defense"] {
  padding-right: 3.5rem;
}
.status.defense label[for="bonus-armour"] {
  padding-left: 0.5rem;
}
.status.defense label[for="bonus-shield"] {
  padding-left: 0.5rem;
  padding-right: 1.5rem;
}

.status.defense fieldset {
   left: 0px;
   width: 35%;
   position: absolute;
}

.skills fieldset {
   margin-left: 35%;
}

.skills fieldset label {
   display: inline;
}
