*,
*::before,
*::after {
   box-sizing: border-box;
}

fieldset {
   border: none;
}

.character-info {
   display: flex;
   justify-content: space-between;
   flex-direction: column;
}

.other-info fieldset,
.character-status fieldset,
.life-points fieldset {
   display: flex;
   justify-content: flex-start;
   margin-right: 1em;
}

.skill-list fieldset {
   display: flex;
}

.skill {
   justify-content: space-between;
}

.info,
.skill,
.skill-input {
   display: flex;
   flex-direction: column;
}
