*,
*::before,
*::after {
  box-sizing: border-box;
}

.character-info {
  margin-bottom: 5px;
  padding: 0.5rem;
}

.character-info input,
.character-info label {
  width: 10%;
}

.character-info .char-level {
  width: 2rem;
}

.character-info .names {
  margin-bottom: 0.7rem;
}

.other-info input,
.other-info label {
  display: inline-block;
  width: 6em;
}

.other-info input {
  position: relative;
  top: -2em;
}

.other-info label {
  margin-right: 0.3em;
  padding-top: 1.5em;
}
